    <form name="todoForm" role="form" novalidate>
        <div class="form-group controls" ng-class="{error: todoForm.name.$invalid}">
          <label for="title">What to do</label>
          <input type="text" name="title" ng-model="entry.title" class="form-control" required>
          <span ng-show="todoForm.title.$error.required" class="help-block">
              Required</span>
        </div>

        <div class="form-group controls" ng-class="{error: todoForm.due_date.$invalid}">
          <label for="due_date">Due date</label>
          <div name="due_date" ng-model="entry.due_date" required ui-date="dateOptions" ui-date-format="yy-mm-dd"></div>
          <span ng-show="todoForm.due_date.$error.required" class="help-block">
              Required</span>
        </div>

        <div class="form-group controls" ng-class="{error: todoForm.priority.$invalid}">
            <label>Priority</label>
            <select class="form-control" name="priority" id="priority" ng-model="entry.priority">
                <option value="0">Low</option>
                <option value="1">Normal</option>
                <option value="2">High</option>
                <option value="3">Urgent</option>
            </select>
            <span ng-show="todoForm.priority.$error.required" class="help-block">
              Required</span>
        </div>

        <div class="btn-group">
            <a href="#/" class="btn">Cancel</a>
        </div>
        <div class="btn-group">
            <button ng-click="saveEntry()" ng-disabled="isClean() || todoForm.$invalid"
                class="btn btn-primary">Save</button>
        </div>
        <div class="btn-group">
            <button ng-click="removeEntry()"
                ng-show="entry.id" class="btn btn-danger">Delete</button>
        </div>
      </form>